.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f8f8f8;
}

.background {
  inset: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.8; */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  /* color: white; */
  padding: 2rem;
}

.date {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.subImage {
  width: 350px;
  height: 350px;
  margin: 1.5rem auto 2rem auto;
  background-image: url("@assets/images/main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2.0rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.names {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.names h3 {
  font-size: 1.6rem;
}
