/* src/App.css */
.App {
  width: 100%;
  /* 반응형으로 수정 필요 - media query */
  max-width: 480px;
  margin: 0 auto;
  font-family: sans-serif;
  /* background-color: #fff; */
  /* 임시 배경색 */
  background-color: dimgray;
  color: #333;
  overflow-x: hidden;
}

section {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
